<h1><%= @user.username %></h1>

<h3>Events Created</h3>
<ul>
    <% @user.created_events.each do |event| %>
        <li><%= link_to event.title, event %></li>
    <% end %>
</ul>

<h3>Attending</h3>
<h5>Past Events</h5>
<ul>
    <% @user.attended_events.past.each do |event| %>
        <li><%= link_to event.title, event %></li>
    <% end %>
</ul>

<h5>Upcoming Events</h5>
<ul>
    <% @user.attended_events.future.each do |event| %>
        <li><%= link_to event.title, event %></li>
    <% end %>
</ul>

<%= link_to "Back", "javascript:history.back()" %>