<h3><%= @event.title %></h3>
<p>Creator: <%= @event.creator.username %></p>
<p>Date: <time><%= @event.date %></time></p>
<p>Location: <%= @event.location %></p><br />

<p><%= @event.description %></p>
