<h3><%= @event.title %></h3>
<p>Creator: <%= link_to @event.creator.username, @event.creator %></p>
<p>Date: <time><%= @event.date %></time></p>
<p>Location: <%= @event.location %></p><br />

<p><%= @event.description %></p>

<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
    <% end %>
</ul>

<%= link_to "Attend", event_attendances_path(event_id: @event.id), data: { turbo_method: "post" } %>
<%= link_to "Back", "javascript:history.back()" %>
